* {
  margin: 0;
  overflow: hidden;
}

.app__header {
  padding: 20px;
}

.app_headerTitle {
  margin-bottom: 10px;
  color: rgb(218, 218, 218);
}

.app__headerForm {
  display: flex;
}

.app__headerFormButton {
  background: hsl(205, 78%, 60%);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  color: white;
  cursor: pointer;
}

.app__showColors {
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(223.33px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(96px, 1fr));
}

.MuiSnackbarContent-message {
  margin-left: 18%;
}
